<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../../../favicon.ico">

	<title>Starter Template for Bootstrap</title>
	-->

	<!-- Bootstrap core CSS -->
	<!--<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">-->

	<!-- Custom styles for this template -->
	<!--<link href="starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">-->

	<link href="main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<header>ヘッダーだよ</header>
		<main>
			<form role="form" th:action="@{/layoutsample/fixedfooter}" method="post" th:object="${simpleForm}">
				<div class="form-group">
					<label class="control-label"><abbr title="required">*</abbr> Radio</label>
					<label><input type="radio" name="radio" id="radio_1" value="A" th:field="*{radio}">radio A</input></label>
					<label><input type="radio" name="radio" id="radio_2" value="B" th:field="*{radio}">radio B</input></label>
					<label><input type="radio" name="radio" id="radio_3" value="C" th:field="*{radio}">radio C</input></label>
				</div>
				<button type="submit" class="btn btn-default">confirm</button>
			</form>
			こ<br>
			こ<br>
			に<br>
			メ<br>
			イ<br>
			ン<br>
			コ<br>
			ン<br>
			テ<br>
			ン<br>
			ツ<br>
			を<br>
			か<br>
			く<br>
			よ<br>
			！<br>
			は<br>
			み<br>
			だ<br>
			し<br>
			て<br>
			も<br>
			ス<br>
			ク<br>
			ロ<br>
			ー<br>
			ル<br>
			し<br>
			て<br>
			く<br>
			れ<br>
			る<br>
			よ<br>
			！<br>
		</main>
		<footer>
			<span th:if="${simpleForm.radio == 'C'}">
				<button type="button" class="btn btn-warning" id="taskClose" name="taskClose">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>タスクを閉じる
				</button>
				<br><br><br><br>
			</span>
			フッターだよ
		</footer>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="@{/js/jquery-slim.min.js}"><\/script>')</script>
	<script src="../../assets/js/vendor/popper.min.js" th:src="@{/js/popper.min.js}"></script>
	<script src="../../dist/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>